@using Announcements.Models
@model User
@{
    ViewBag.Title = "Index";
}

<h2>Объявления пользователя @Model.UserName</h2>

@Html.ValidationSummary(false)


@if (Model.Announs.Count() == 0)
{
    <h4>Нет постов</h4>
}
@foreach (Announ ann in Model.Announs)
{
    <h3>@ann.AnnTitle</h3>
    <p>Автор: @ann.User.UserName</p>
    <h5>@ann.Description</h5>
    using (Html.BeginForm("Delete", "Ann", FormMethod.Get))
    {
        <input name="id" value="@ann.Id" type="hidden">
        <input type="submit" value="Удалить" class="btn btn-default">

        @Html.ActionLink("Изменить", "Edit", "Ann", new { id = ann.Id }, new { @class = "btn btn-info" })
    }
}
