@using Announcements.Models
@model IEnumerable<User>

@{
    ViewBag.Title = "Пользователи";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        Пользователи
    </div>
    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>Имя</th>
            <th>Email</th>
            <th>Номер телефона</th>
        </tr>
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="3" class="text-center">Нет учетных записей</td>
            </tr>
        }
        else
        {
            foreach (User user in Model)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.UserName</td>
                    <td>@user.Email</td>
                    <td>@user.PhoneNumber</td>
                    <td>
                        @using (Html.BeginForm("Delete", "UserAdmin", FormMethod.Get, new { id = user.Id }))
                        {
                            @Html.ActionLink("Изменить", "Edit", "UserAdmin", new { id = user.Id}, new { @class = "btn btn-primary btn-xs" })
                            <button class="btn btn-danger btn-xs" type="submit">Удалить</button>
                        }
                    </td>
                </tr>
            }
        }
    </table>
</div>
@Html.ActionLink("Создать", "Create", "UserAdmin", null, new { @class = "btn btn-primary" })